:root {
  --color-light-primary: #ffffff;
  --color-light-second: #e5e5e5;
  --color-blue: #2893b7;
  --color-dark: #121920;
  --color-gray-primary: #768298;
  --color-gray-secondary: #bbc4d6;
  --color-gray-tertiary: #ebebf1;
  --font-main: 'Roboto', sans-serif;
}